.bg-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #f1f5f9;
  font-weight: 'Roboto';
}
.form-card {
  padding: 10px;
  height: 380px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  border-radius: 15px;
}
.logo {
  width: 200px;
  height: 30px;
  margin: 10px;
}
.login-btn {
  width: 280px;
  height: 40px;
  background-color: #4f46e5;
  color: #f8fafc;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input {
  padding-left: 10px;
  width: 280px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  border-color: #f1f5f9;
  background-color: transparent;
  color: #f8fafc;
}

.error-msg {
  color: #ff0b37;
  width: 280px;
  font-size: 15px;
}
